* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    background:linear-gradient(to right, rgb(132, 132, 132), white);
    font-family:"Raleway", sans-serif;
}

.center{
    position: absolute;
    top:50%;
    left:50;
    transform: translate(-50%, -50%);
}

.center button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #f5f5f5;
}