* {
    margin: 0 auto 0 auto;
   text-align:left;
   
}
  
  
  #mainpic h1
  {
      position: absolute;
  text-align:left;
  font-size:30px;
  color:#000000;	
  top:150px;
  
  }

  
  #menu ul {
      list-style: none;
      padding-left: 50px;
      margin-left:auto;
      width:900px;
      padding-top: 5px;
  }

  
  
  #menu a {
      float: left;
      width: 70px;
      height: 60px;
      text-align: center;
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      padding-top: 17px;
      font-size: 15px;
  }
  
  #menu a:hover{
      color:#464646;
  }
  
  .p-1 {
         text-align: center;
          }
  
  .text-center {
      margin: 80px;
  }
  
  .container2 {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
  }


  #cart {
    float: right;
    margin-right: 40px;
    width: 30px;
    height: 30px;
  }

  #round{
    border-radius: 60px;
    background-color: white;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }


  #cart2 {
    width: 23px;
    height: 25px;
    margin-left: 0px;
  }

  p {
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
  }

  .buyNow {
    border: black solid 2px;
    border-radius: 15px;
    background-color: white;
    font-weight: 600;
  }