* {
    margin: 0 auto 0 auto;
   text-align:left;
   
}
  
  
  #mainpic h1
  {
      position: absolute;
  text-align:left;
  font-size:30px;
  color:#000000;	
  top:150px;
  
  }

  
  #menu ul {
      list-style: none;
      padding-left: 50px;
      margin-left:auto;
      width:900px;
      padding-top: 5px;
  }

  
  
  #menu a {
      float: left;
      width: 70px;
      height: 60px;
      text-align: center;
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      padding-top: 17px;
      font-size: 15px;
  }
  
  #menu a:hover{
      color:#464646;
  }
  
  .p-1 {
         text-align: center;
          }
  
  .text-center {
      margin: 80px;
  }
  
  .container2 {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
  }


  #cart {
    float: right;
    margin-right: 40px;
    width: 30px;
    height: 30px;
  }

  #round{
    border-radius: 60px;
    background-color: white;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }


  #cart2 {
    width: 23px;
    height: 25px;
    margin-left: 0px;
  }

  p {
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
  }

 
  #imagee {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,1));
    padding-top: 250px;
  }
    

  #buyNow {
    border: black solid 2px;
    border-radius: 15px;
    background-color: white;
    font-weight: 600;
  }

.video1 {
margin-left: 33%;
margin-top: -10%;
}

.para1 {
  margin-top: -5%;
}

.picture1 {
  margin-left: 33%;
  margin-top: -2%;
}

.picture2 {
  margin-left: 33%;
  margin-top: 2%;
}

.picture3 {
  margin-left: 42%;
  margin-top: 2%;
}






.container3 { grid-row: span 3;	
  background-color: rgb(54, 49, 16);		
  margin-top: 3.5%;
  height: 400px;	
  width: 100%;					
} 

.one {
  margin-left: 700px;
  padding: 160px;
}



.container4 {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 200px;
	gap: 5px;
	
}

#two {
  height: 400px;	
  width: 100%;	
  padding-top: 100px;
  padding-left: 100px;
  color: rgb(54, 49, 16);
}

#three {
  height: 400px;	
  width: 100%;	
  padding-top: 100px;
  padding-left: 300px;

}
.container5 {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 5px;
	
}

.para2 {
  margin-top: -580px;
  margin-left: 150px;
  color:aqua;
}

.para3 {
  margin-top: -50px;
  margin-left: 150px;
  color:aqua;

}

.image15 {
margin-left: 10%;}


