/*Qahraman Taha*/
ul {
  margin: 0 auto 0 auto;
  text-align: left;

}


/*Qahraman Taha*/
#mainpic h1 {
  position: absolute;
  text-align: left;
  font-size: 30px;
  color: #000000;
  top: 150px;

}



/*Qahraman Taha*/
#menu ul {
  list-style: none;
  padding-left: 50px;
  margin-left: auto;
  width: 900px;
  padding-top: 5px;
}

/*Bartlomiej Pawlik*/
.buyNowServices {
  border: black solid 2px;
  border-radius: 15px;
  background-color: white;
  font-weight: 600;
  margin-left: 50%;
}
/*Bartlomiej Pawlik*/
.designTitle {
  text-align: center;
}

/*Bartlomiej Pawlik*/
.productBuy {
  border: black solid 2px;
  border-radius: 15px;
  background-color: white;
  font-weight: 600;
  margin-left: 195px;
  padding: 5px;
}

/*Bartlomiej Pawlik*/
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23088' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 /*Bartlomiej Pawlik*/
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23088' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

/*Qahraman Taha*/
#menu a {
  float: left;
  width: 70px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  padding-top: 17px;
  font-size: 15px;
}

/*Bartlomiej Pawlik*/
#menu a:hover {
  color: #464646;
}

/*Bartlomiej Pawlik*/
.p-1 {
  text-align: center;
}

/*Bartlomiej Pawlik*/
.text-center {
  margin: 80px;
}

/*Bartlomiej Pawlik*/
#cart {
  float: right;
  margin-right: 40px;
  width: 30px;
  height: 30px;
}

/*Bartlomiej Pawlik*/
#round {
  border-radius: 60px;
  background-color: white;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

/*Bartlomiej Pawlik*/
#cart2 {
  width: 23px;
  height: 25px;
  margin-left: 0px;
}

/*Bartlomiej Pawlik*/
p {
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
}


/*Qahraman Taha https://www.w3schools.com/css//css3_masking.asp*/
#imagee {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  padding-top: 250px;
}

/*Bartlomiej Pawlik*/
.buyNow {
  border: black solid 2px;
  border-radius: 15px;
  background-color: white;
  font-weight: 600;
  padding: 5px;
}
/*Bartlomiej Pawlik*/
.video1 {
  margin-left: 30%;
  margin-right: 10%;
  margin-top: -10%;
}
/*Bartlomiej Pawlik*/
.para1 {
  margin-top: -5%;
}
/*Bartlomiej Pawlik*/
.picture1 {
  margin-left: 33%;
  margin-top: -2%;
}
/*Bartlomiej Pawlik*/
.picture2 {
  margin-left: 33%;
  margin-top: 2%;
}
/*Bartlomiej Pawlik*/
.picture3 {
  margin-left: 42%;
  margin-top: 2%;
}


/*Qahraman Taha*/
.container3 {
  grid-row: span 3;
  background-color: rgb(54, 49, 16);
  margin-top: 3.5%;
  height: 400px;
  width: 100%;
}

/*Bartlomiej Pawlik*/
select {
  width: 432px;
}

/*Bartlomiej Pawlik*/
.form-row {
  margin-top: 10px;
}


/*Qahraman Taha*/
.aboutus {
  margin-left: 700px;
  padding: 160px;
}
/*Bartlomiej Pawlik*/
.one {
  padding: 160px;
}

/*Bartlomiej Pawlik*/
.btn {
  margin-left: 47%;
  margin-top: 10px;
}

/*Qahraman Taha*/
.container4 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 200px;
  gap: 5px;

}
/*Bartlomiej Pawlik*/
#two {
  height: 400px;
  width: 100%;
  padding-top: 100px;
  padding-left: 100px;
  color: rgb(54, 49, 16);
}
/*Bartlomiej Pawlik*/
#three {
  height: 400px;
  width: 100%;
  padding-top: 100px;
  padding-left: 300px;

}

/*Bartlomiej Pawlik*/
.para2 {
  margin-top: -580px;
  margin-left: 150px;
  color: aqua;
}
/*Bartlomiej Pawlik*/
.para3 {
  margin-top: -50px;
  margin-left: 150px;
  color: aqua;

}

/*Qahraman Taha*/
.image15 {
  margin-left: 10%;
}
/*Bartlomiej Pawlik*/
.buyNowServices {
  margin-left: 48%;
}



/*Qahraman Taha https://www.w3schools.com/css//css3_masking.asp*/
.imagee2 {
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));

}
/*Bartlomiej Pawlik*/
#designPic1 {
  margin-left: 560px;
}
/*Bartlomiej Pawlik*/
.designP {
  text-align: center;
}
/*Bartlomiej Pawlik*/
#designPic2 {
  margin-left: 560px;
  margin-top: 50px;
}

/*Qahraman Taha https://www.w3schools.com/css//css3_masking.asp*/
.imagee3 {
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));
  margin-left: 25%;
}
/*Bartlomiej Pawlik*/
.signup {
  background-color: rgb(212, 212, 212);
}

/*Qahraman Taha*/
#carouselExample {
  width: 470px;
}

/*Qahraman Taha*/
#carouselExample2 {
  width: 470px;
}

/*Qahraman Taha*/
#carouselExample3 {
  width: 470px;
}

/*Qahraman Taha*/
#carouselExample4 {
  width: 470px;
}

/*Qahraman Taha*/
#carouselExample5 {
  width: 470px;
}

/*Qahraman Taha*/
#carouselExample6 {
  width: 470px;
}

/*Qahraman Taha*/
#carouselExample7 {
  width: 470px;
}

/*Qahraman Taha*/
#carouselExample8 {
  width: 470px;
}

/*Qahraman Taha*/
#carouselExample9 {
  width: 470px;
}



/*Qahraman Taha*/
.containerProdcuts {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 500px;
  gap: 5px;

}

/*Qahraman Taha*/
.containerProdcuts2 {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 500px;
  gap: 5px;

}

/*Qahraman Taha*/
.containerProdcuts3 {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 500px;
  gap: 5px;

}


/*Qahraman Taha*/
.image20 {
  margin-top: 200px;

}
/*Robert Onofrei*/
* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

.center{
  position: absolute;
  top:80%;
  left:50%;
  transform: translate(-50%, -50%);
}

.center button{
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  background: #f5f5f5;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.popup{
  position: absolute;
  top:-150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 520px;
  height: 580px;
  padding: 20px 30px;
  background: white;
  box-shadow: 2px 2px 3px 3px#000000;
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms,
}

.popup.active{
  top:50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms,
}


.popup .close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background-color: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.popup .form h2{
  text-align:center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.popup .form .form-element{
  margin: 15px 0px;
}

.popup .form .form-element label{
  font-size:14px;
  color:#222;
}

.popup .form .form-element input[type="fname"],
.popup .form .form-element input[type="Number"]{
  margin-top:5px;
  display:block;
  width: 100%;
  padding: 10px;
  outline:none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.popup .form .form-element input[type="Expiry"]{
  display:block;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top:5px;
  outline:none;
  padding: 8px;
}

.popup .form .form-element input[type="CVV"]{
  margin-top:5px;
  display:block;
  padding:8px;
  outline:none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"]{
  margin-right: 5px;
}

.popup .form .form-element button{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size:16px;
  background: grey;
  color: white;
  border-radius:10px;
  cursor: pointer;
}
/*RobertOnofrei*/

