* {
    margin: 0 auto 0 auto;
   text-align:left;
   
}
  
  
  #mainpic h1
  {
      position: absolute;
  text-align:left;
  font-size:30px;
  color:#000000;	
  top:150px;
  
  }

  
  #menu ul {
      list-style: none;
      padding-left: 65px;
      margin-left:auto;
      width:900px;
      padding-top: 5px;
  }
  
  
  
  #menu a {
      float: left;
      width: 70px;
      height: 60px;
      text-align: center;
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      padding-top: 17px;
      font-size: 15px;
  }
  
  #menu a:hover{
      color:#464646;
  }
  
  .p-1 {
         text-align: center;
          }
  
  .text-center {
      margin: 80px;
  }
  
  .container2 {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
  }

  p {
    text-align: center;
  }